<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="ISO-8859-1">
	<title>Notchtop Specials</title>
</head>
<body>
<div class="container adminPage">
	<div class="topBar" id="topbar">
		<h1><a href="/admin_page">Notchtop <strong>App</strong></a></h1>
	 	<a class="myBtn" href="/addPost"><span>Add Item</span>
	 	<span>
	 		<img alt="" src="/images/add_icon.png" >
	 	</span>
	 	</a>
	 	<a class="myBtn logoutBtn" href="/logout"><span>Logout</span>
		<span>
	 		<img alt="" src="/images/logout_icon.png" >
	 	</span>
		</a>
	</div>
	<div class="mainContent postLayout">
		<div class="postAddLayout">
		<form th:action="@{/newPost}" enctype="multipart/form-data" method="post" th:object="${createPost}">
			<div class=submitBtn> 
			   	<label for="imageFile">Upload Photo: </label>
    			<input type="file" name="imageFile" id="imageFile" accept="image/png, image/jpeg"  value="choose" class="fileChooseBtn"/>
    		</div>
    		<div class=forms>
    			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"  class="text-danger"></p>
			    <label for="name">Food Name: </label>
			    <input th:field="*{name}" type="text" class="form-control" id="user_Name" placeholder="Name" autocomplete="off"></input>
			</div> 
			<div class=forms>
			    <label for="post_text">Food description: </label>
				<div>
					<textarea th:field="*{post_text}" id="description" rows="7" cols="50"></textarea>
				</div>
			</div>    
    		<div class=forms>
				<input type="hidden" th:field="*{admin}" th:value="${admin_id}" class="form-control"/>
			</div>
			<div class=submitBtn> 
				<input class="btn btn-primary" type="submit" value="Post">
			</div>
		</form>
	</div>
	</div>
	<div class="postFooter">
	</div>
</div>
</body>
</html>